.PagesInicio{
    display: flex;
    justify-content: center;
    padding-top: 38px;
}

.tablaInversiones{
    width: 94%;
}

@media (max-height: 900px){

    .tablaInversiones{
        padding-bottom: 3rem;
    }
}

