@media (max-width: 495px){
    .botonTabla{
        font-size: 0.63rem !important;
    }
}

@media (max-width: 495px){
    .botonesInvercionescontenedor{
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
